<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Covid Classifier</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">    
</head>
<body>
    <div class="wrapper">
        <div class="center">
            <h1>Take a test and check out Covid prevention tips!</h1>
            <ul>
                <li><a href="http://127.0.0.1:5000/info"><span>More info!</span></a></li>
                <li><a href="http://127.0.0.1:5000/form"><span>Take a Test!</span></a></li>
              </ul>
        </div>
    </div>

</body>
</html>