<!DOCTYPE html>
<html>
   <head>
      <title>Prevention Tips!</title>
      <link href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet">
      <style> 
        .button { 
        background-color: white; 
        border: 2px solid black; 
        color: green; 
        padding: 5px 10px; 
        text-align: center; 
        display: inline-block; 
        font-size: 20px; 
        margin: 10px 30px; 
        margin-left: 400px;
        cursor: pointer; 
        } 
    </style> 
   </head>
   <body>
    <div class="wrapper">
        <div class="center">
      <p>Prevent Covid by these simple methods</p>
      <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IT7ghcGy6r0" frameborder="0" allowfullscreen></iframe>
      </iframe>
    <form action="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"> 
        <button class = "button" type="submit"> 
            FOR LATEST COVID-19 NEWS CLICK HERE!
        </button> 
    </form> 
        </div>
    </div>
   </body>
</html>

 
  
